@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

:root {
    /* --background-color: linear-gradient(90deg, rgba(0,11,24,1) 0%, rgba(0,23,45,1) 58%, rgba(0,38,77,1) 100%);
    --second--background-color: linear-gradient(90deg, rgba(0,23,45,1) 0%, rgba(0,38,77,1) 58%, rgba(2,56,110,1) 100%);
    --text-color: #fff; */
    --background-color: #E3E6F3;
    --first-color: #088178;
    --brand-color: #898a8f;
    --star-color: #ddcf4f;
}

h1{
    font-size: 48px;
    line-height: 60px;
    color: black;
}

h2{
    font-size: 44px;
    line-height: 50px;
    color: black;
}

h4{
    font-size: 20px;
    color: black;
}

h6 {
    font-weight: 700;
    font-size: 16px;
}

p {
    font-size: 16px;
    color: black;
    margin: 16px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    padding: 40px 0px;
}

button.normal {
    font-size: 16px;
    font-weight: 600;
    padding: 16px 32px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s ease;
}

button.white {
    font-size: 12px;
    font-weight: 600;
    padding: 12px 20px;
    color: white;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.3s ease;
}

body {
    width: 100%;
}

/* Header start */

.logo {
    width: 50%;
    height: 50%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 80px;
    background-color: var(--background-color);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--first-color);
}

#navbar li:nth-child(-n+5) a.active::after,
#navbar li:nth-child(-n+5) a:hover::after {
    content: "";
    width: 36%;
    height: 2.4px;
    background: var(--first-color);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

/* Header end */

/* Home Page */

#hero {
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 16px;
}

#hero h1 {
    color: var(--first-color);
}

#hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    color: var(--first-color);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .feature-box {
    width: 180px;
    text-align: center;
    padding: 24px 16px;
    box-shadow: 20px 20px 32px rgba(0, 0, 0, 0.24);
    border: 1px solid var(--first-color);
    border-radius: 4px;
    margin: 16px 0;
}

#feature .feature-box:hover {
    box-shadow: 10px 10px 56px rgba(0, 0, 0, 0.32);
}

#feature .feature-box img {
    width: 100%;
    margin-bottom: 12px;
}

#feature .feature-box h6 {
    display: inline-block;
    padding: 12px 8px 4px 8px;
    line-height: 1;
    border-radius: 4px;
    color: var(--first-color);
}

#product-1 {
    text-align: center;
}

#product-1 .prod-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product-1 .prod {
    width: 23%;
    min-width: 256px;
    padding: 12px 16px;
    border: 1px solid var(--background-color);
    border-radius: 28px;
    cursor: pointer;
    box-shadow: 20px 20px 32px rgba(0, 0, 0, 0.12);
    margin: 16px 0;
    position: relative;
}

#product-1 .prod:hover {
    box-shadow: 20px 20px 32px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}

#product-1 .prod img {
    width: 100%;
    border-radius: 24px;
}

#product-1 .prod .description {
    text-align: start;
    padding: 12px 0;
}

#product-1 .prod .description span {
    color: var(--brand-color);
    font-size: 12px;
}

#product-1 .prod .description h5 {
    padding-top: 8px;
    font-size: 16px;
}

#product-1 .prod .description i{
    font-size: 16px;
    color: var(--star-color);
}

#product-1 .prod .description h4 {
    padding-top: 8px;
    font-size: 16px;
    font-weight: 700;
    color: var(--first-color);
}

#product-1 .prod .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 56px;
    background-color: var(--background-color);
    color: var(--first-color);
    border: 1px solid #d4cccc;
    position: absolute;
    bottom: 20px;
    right: 12px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/bnr/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: white;
    font-size: 16px;
}

#banner h2 {
    color: white;
    font-size: 32px;
    padding: 12px 0;
}

#banner h2 span {
    color: red;
    font-size: 32px;
    padding: 12px 0;
}

#banner button:hover {
    background-color: var(--first-color);
    color: white;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/bnr/b17.jpg");
    min-width: 560px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 32px;
}

#sm-banner h4 {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: white;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 16px;
}

#sm-banner .banner-box:hover button{
    background: var(--first-color);
    border: 1px solid var(--background-color);
}

#sm-banner .banner-box:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/bnr/b10.jpg");
    min-width: 560px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 32px;
}

#banner-3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner-3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/bnr/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner-3 h2 {
    color: white;
    font-weight: 600;
    font-size: 32px;
}

#banner-3 h3 {
    color: red;
    font-weight: 800;
    font-size: 24px;
}

#banner-3 .banner-box:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/bnr/b4.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner-3 .banner-box:nth-child(3) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img/bnr/b18.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/bnr/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041E42;
    margin: 40px 0;
}

#newsletter h4 {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

#newsletter p {
    font-size: 16px;
    font-weight: 600;
    color: var(--brand-color);
}

#newsletter p span {
    color: var(--star-color);
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.2rem;
    padding: 0 1.2rem;
    font-size: 16px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: var(--first-color);
    color: white;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo1{
    margin-bottom: 32px;
}

footer h4 {
    font-size: 16px;
    padding-bottom: 20px;
}

footer p {
    font-size: 12px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 12px;
    text-decoration: none;
    color: #222;
    margin-bottom: 12px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i{
    color: var(--brand-color);
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid var(--first-color);
    border-radius: 4px;
}

footer .install img {
    margin: 12px 0 16px 0;
}

footer .follow i:hover,
footer a:hover {
    color: var(--first-color);
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* Home Page */

/* Shop Page */

#shop-header {
    background-image: url("img/bnr/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 16px;
}

#shop-header h2,
#shop-header p {
    color: white;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: var(--first-color);
    padding: 16px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* Shop Page */

/* Single Product */
#product-details {
    display: flex;
    margin-top: 20px;
}

#product-details .single-product-image {
    width: 40%;
    margin-right: 16px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#product-details .single-product-details {
    width: 50%;
    padding-top: 32px;
    padding-left: 32px;
}

#product-details .single-product-details h4 {
    padding: 40px 0 20px 0;
}

#product-details .single-product-details h2 {
    font-size: 28px;
}

#product-details .single-product-details select {
    display: block;
    padding: 4px 12px;
    margin-bottom: 12px;
}

#product-details .single-product-details input {
    width: 56px;
    height: 48px;
    padding-left: 12px;
    font-size: 16px;
    margin-right: 12px;
}

#product-details .single-product-details input:focus {
    outline: none;
}

#product-details .single-product-details button {
    background-color: var(--first-color);
    color: white;
}

#product-details .single-product-details span {
    line-height: 24px;
}

/* Single Product */

/* Blog Page */

#shop-header.blog-header {
    background-image: url("img/bnr/b19.jpg");
}

#blog {
    padding: 156px 156px 0 156px;
    
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 92px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.3s ease;
}

#blog .blog-details a::after {
    content: "";
    width: 56px;
    height: 1.6px;
    background-color: black;
    position: absolute;
    top: 4px;
    right: -66px;
}

#blog .blog-details a:hover {
    color: var(--first-color);
}

#blog .blog-details a:hover::after {
    background-color: var(--first-color);
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 72px;
    font-weight: 700;
    color: var(--brand-color);
    z-index: -12;
}

/* Blog Page */

/* About Page */

#shop-header.about-header {
    background-image: url("img/about/banner.png");
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

#about-app {
    text-align: center;
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 32px auto 0 auto;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* About Page */

/* Contact Page */

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 28px;
    line-height: 32px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 16px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 12px 0;
}

#contact-details .details li i {
    font-size: 16px;
    padding-right: 20px;
}

#contact-details .details li p {
    margin: 0;
    font-size: 16px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 32px;
    padding: 80px;
    border: 1px solid var(--background-color);
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 16px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid var(--background-color);
}

#form-details form button {
    background-color: var(--first-color);
    color: white;
}

#form-details .feedback div {
    padding-bottom: 24px;
    display: flex;
    align-items: flex-start;
}

#form-details .feedback div img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    margin-right: 16px;
}

#form-details .feedback div p {
    margin: 0;
    font-size: 12px;
    line-height: 24px;
}

#form-details .feedback div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

/* Contact Page */

/* Media query */

@media (max-width: 800px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: var(--background-color);
        box-shadow: 0 40px 56px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 12px;
        transition: 0.3s ease;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 24px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }
    
    #mobile i {
        color: black;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 32px;
        left: 32px;
        color: black;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    #hero {
        height: 90vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
    }

    #feature .feature-box {
        margin: 16px 16px;
    }

    #product-1 .prod-container {
        justify-content: center;
    }

    #product-1 .prod {
        margin: 16px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        padding: 32px;
    }

    #sm-banner .banner-box:nth-child(2) {
        min-width: 100%;
        height: 30vh;
        padding: 32px;
    }

    #banner-3 {
        padding: 0 40px;
    }

    #banner-3 .banner-box {
        width: 28%;
    }

    #newsletter .form {
        width: 70%;
    }

    /* Contact Page*/
    #form-details {
        padding: 40px;
    }

    #form-details form {
        width: 50%;
    }
}

@media (max-width: 480px) {
    .section-p1 {
        padding: 20px;
    }

    #header {
        padding: 12px 28px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 32px;
    }
    
    #hero {
        padding: 0 20px;
        /* background-position: 55%; */
    }

    #feature {
        justify-content: space-between;
    }

    #feature .feature-box {
        width: 156px;
        margin: 0 0 16px 0;
    }
    
    #product-1 .prod {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }
    
    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box:nth-child(2) {
        margin-top: 20px;
    }

    #banner-3 {
        padding: 0 20px;
    }

    #banner-3 .banner-box {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    #newsletter .form {
        width: 100%;
    }

    /* Single Product */
    #product-details {
        display: flex;
        flex-direction: column;
    }

    #product-details .single-product-image {
        width: 100%;
    }

    #product-details .single-product-details {
        width: 100%;
    }

    /* Blog Page */
    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 32px;
    }

    #blog .blog-details {
        width: 100%;
    }

    /* About Page */
    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0px;
    }

    #about-app .video {
        width: 100%;
    }

    /* Contact Page */
    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 32px;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
        margin: 8px;
        padding: 32px 12px;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 32px;
    }

    #form-details .feedback {
        padding-left: 40px;
    }
}

/* Media query */